<header class="p-3 bg-dark text-white shadow-sm">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="/" class="me-4 d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="../../../assets/PartlyCloudy.png" alt="Logo" class="logo img-fluid" height="60px" width="60px"/>
        <span class="fs-4 fw-bold">Weather App</span>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/" class="nav-link px-2 text-secondary fs-5">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white fs-5">Features</a></li>
      </ul>
    </div>
  </div>
</header>
