
.box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
  margin: 5px;
  backdrop-filter: blur(3px);
  max-width: 500px;
  min-width: 200px;
  width: 100%;
  /* flex: 1; */
  /* box-shadow: 0 1rem 3rem rgba(black, .175) !important; */
}
.box img{
  height: 30px;
  width: 30px;
}
.boxes{
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  /* flex-flow: wrap; */
}
.box-label{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
}

/* .container{

} */
